@font-face{
			font-family: caveat;
			src:url("../assets/fonts/caveat.ttf") format("truetype")
}
		.nvaNav{	display: inline-flex;
					font-size: 20px;
					color: #BAC5E2;
					font-family: caveat;
					transition: 0.4s;
				}
		/*body{ background-color: #0D1D43 }*/
		
		.logo--header{ 
			grid-area: logo;
			height: 150px;
		 }
		.img--local2{grid-area: img;
					 height: 600px;
					 padding-top: 300px}
		#txtIndex{ grid-area: txtIndex }
		nav{ grid-area: nav }
		footer{ grid-area: footer }

		li{	display: inline-block;	
			list-style-type: none;
				padding: 20px;
				font-size: 40px;}
		a{			text-decoration: none;
				color: #BAC5E2;
				font-family: caveat;
				}

		.texto--p{  font-size: 20px;
					color: #BAC5E2;
					font-family: caveat;
					height: 100%;
					width: auto;}
		.titulo{	display: felx; 
					font-size: 100px;
					color: #BAC5E2;
					font-family: caveat; }
		#tit--ind{color: white!important}
		.flex{display: flex}
		.flex-justify{
		justify-content: flex-end;
		}
		.flex-center{
		justify-content: center;
		}
		.flex-around{
		justify-content: space-around;
		}
		li{
		list-style-type: none;
		padding: 20px;
		font-size: 20px;
		}
		#hd{height: 60px;
			width: auto;
			transition: 0.8s}
	#ig{height: 70px;
		width: auto;
		transition: 0.8s}
	#wp{height: 60px;
		width: auto;
		transition: 0.8s}
	.between{display: flex;
		justify-content: space-between;	}
	.subtitulo{display: felx; 
					font-size: 70px;
					color: #BAC5E2;
					font-family: caveat;}
	.form{padding-bottom: 100px}
}
	body{ background-color: #0D1D43 }
	.nvaNav{text-decoration: none;
	  color: #BAC5E2;
	  font-family: caveat;
	  padding: 20px;
		}
	.texto--p{  font-size: 20px;
					color: #BAC5E2;
					font-family: caveat;}
	.titulo{	display: flex; 
					font-size: 40px;
					color: #BAC5E2;
					font-family: caveat;
					padding-top: 10px;
					justify-content: center; }
	#hd{height: 60px}
	#ig{height: 70px}
	#wp{height: 60px}
	.between{display: flex;
		justify-content: space-between;	}
@keyframes neon {
	0%{opacity: 100%}
	100%{opacity: 0%}
}
.tituloIndex{
	animation-name: neon;
	animation-duration:	1s;
	animation-timing-function: ease-in;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	color: white;
	font-family: caveat;
	font-size: auto;
}
.logo--footer:hover{
	transform: scale(1.2,1.2);
}
.nvaNav:hover{
	transform: scale(1.2,1.2);
}
.bg-gradient{background-image: linear-gradient(to top,#0D1D43, #002973)}

}
.pBottom{padding-bottom: 40px;}
.nvaNav{
	font-size: 20px;
    color: #BAC5E2!important;
}
@media screen and (min-width: 0px) and (max-width: 768px){
	.img--local{
		width: 340px;
		height: auto;
		padding-bottom: 10px;
	}

}
@media screen and (min-width: 1024px){
	.img--local{
		width: 900px;
		height: auto;
		padding-bottom: 20px;
	}
	.tituloIndex{font-size: 100px}
}